<div class="col-12">
  <p-table
    #tabla
    [value]="users"
    styleClass="p-datatable-gridlines"
    [tableStyle]="{ 'min-width': '50rem' }"
    [paginator]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[5, 10, 20]"
    [globalFilterFields]="['id', 'nombre', 'apellido', 'email', 'roles']"
  >

    <ng-template pTemplate="header">

      <tr>
        <th pSortableColumn="nombre" style="width: 10%;">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
        <th pSortableColumn="apellido" style="width: 20%;">Apellidos <p-sortIcon field="apellido"></p-sortIcon></th>
        <th pSortableColumn="email" style="width:15%;">Email <p-sortIcon field="email"></p-sortIcon></th>
        <th style="width: 10%;">Status</th>
        <th style="width: 20%;">Roles</th>
      </tr>

      <tr>
        <th>
          <p-columnFilter type="text" field="nombre"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="apellido"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="email"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="boolean" field="enabled"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter field="roles" matchMode="equals" [showMenu]="false">
            <ng-template pTemplate="filter" let-nombre>
                <p-dropdown [ngModel]="nombre" [options]="possibleRoles" (onChange)="filter($event.value)" optionLabel="nombre" placeholder="Any" [showClear]="true">
                    <ng-template let-role pTemplate="item">
                        <p-tag [value]="role.nombre" [severity]="getSeverity(role.nombre)"></p-tag>
                    </ng-template>
                </p-dropdown>
            </ng-template>
          </p-columnFilter>

        </th>
        <th style="width: 20%;">Editar</th>



    </tr>

    </ng-template>

    <ng-template pTemplate="body" let-user>
      <tr>
          <td>{{ user.nombre }}</td>
          <td>{{ user.apellido }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.enabled | enabled }}<i class="pi ml-2" [ngClass]="{ 'text-green-500 pi-check-circle': user.enabled, 'text-red-500 pi-times-circle': !user.enabled }"></i></td>
          <td> {{ user.roles | role }}</td>
          <td>
            <p-toast></p-toast>
            <p-button label="Activar" [disabled]="user.enabled" styleClass="p-button-success p-button-text p-button-sm" (onClick)="activateUserById(user.id)"></p-button>
            <p-button label="Desactivar" [disabled]="!user.enabled" styleClass="p-button-error p-button-text p-button-sm" (onClick)="deactivateUserById(user.id)"></p-button>
            <p-button icon="pi pi-user-edit" styleClass="p-button-secondary p-button-text" [routerLink]="['/admin/edit', user.id]"></p-button>
          </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
          <td colspan="6">No hay usuarios.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
