<div class="card flex m-2 col-12">
  <b>Filtrar por:</b>
</div>

<div class="card flex justify-content-left col-12">
  <div class="flex mx-2 gap-1">
    <p-checkbox name="group1" value="Activados" inputId="ny"></p-checkbox>
    <label for="ny">Activados</label>
  </div>

  <div class="flex mx-2 gap-1">
    <p-checkbox name="group1" value="Desactivados" inputId="sf"></p-checkbox>
    <label for="sf">Desactivados</label>
  </div>

  <div class="flex mx-2 gap-1">
    <p-checkbox name="group1" value="Administradores" inputId="la"></p-checkbox>
    <label for="la">Administradores</label>
  </div>

</div>


